:root {
    --black: #080A0C;
    --white: #FFFFFF;
    --lightpurple: #BEB6CD;
    --purple: #6B5B86; 
    --purplewhite: #EEE6EF;
}

/* ---------- GLOBAL ---------- */
html {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    min-width: 40%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    font-size: 1.75rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.page-container {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    font-family: jaf-bernino-sans-condensed, sans-serif;
    font-weight: 400;   
    font-style: normal;
    font-size: 16px;
    background: var(--black) url("../images/hero-image.jpeg") repeat center;
    background-size: contain;
}

.content-container {
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 80%;
}

/* ---------- HEADER ---------- */

header {
    height: 100px;
}

.name-title {
    position: absolute;
    top: 50px;
    left: 200px;
    font-family: sheila, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: var(--white);
    z-index: 1;
    padding: 20px;
    text-shadow: 2px 2px 40px var(--black);
}

header p {
    position: absolute;
    color: var(--white);
    text-shadow: 2px 2px 40px var(--black);
    font-family: timberline, sans-serif;   
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    z-index: 1;
    top: 620px;
    left: 450px;
}

/* ---------- NAVIGATION ---------- */
.skip {
    display: none;
}

a {
    text-decoration: none;
    color: var(--lightpurple);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    padding-right: 20px;
}

nav ul li {
    margin-top: 10px;
    padding: 15px 30px 0px 30px;
}

nav a:link {
    text-decoration: none;
    color: var(--lightpurple);
    font-size: 2.5em;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;           
    font-style: normal;
    text-shadow: 2px 2px 8px var(--black);
}

nav a:visited {
    text-decoration: none;
    color: var(--lightpurple);
    font-size: 2.5em;
    font-family: charcuterie-deco, sans-serif;
    font-weight: 400;           
    font-style: normal;
    text-shadow: 2px 2px 8px var(--black);
}

nav a:hover {
    text-decoration: none;
    color: var(--purple);
    text-shadow: 2px 2px 30px var(--black);
}

nav a:active {
    text-decoration: none;
    color: var(--purple);
    text-shadow: 2px 2px 30px var(--black);
}

/* ---------- PROFILE IMAGE ---------- */

.profile-image {
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/portfolio-image-dark.jpg");
    background-size: cover;
    margin-bottom: 50px;
}

/* --------- ABOUT SECTION ---------- */

main section.about-section {
    background-color: var(--purplewhite);
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px 30px;
}

.about-section h2 {
    margin: 15px;
    font-family: timberline, sans-serif;   
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: var(--purple);
    text-shadow: 2px 2px 16px var(--white);
}

.about-section p  {
    padding: 30px;
    font-size: 2em;
    text-align: center;
}


/* --------- WORK SECTION ---------- */

main article.work-section {
    background-color: var(--purplewhite);
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 40px 100px; 
}

.work-section h2 {
    font-family: timberline, sans-serif;   
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin-bottom: 15px;
    color: var(--purple);
    text-shadow: 2px 2px 16px var(--white);
}

.work-section .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.work-section .flex-item {
    flex: 1 0 33%;
    margin: 20px;
}
    
.work-section .flex-item.project-1 {
    flex: 1 0 90%; 
}

.work-section img {
    border: 10px solid var(--purple);
}

.work-section img:hover {
    opacity: 0.7;
}

article.work-section section {
    position: relative;
}

article.work-section p {
    background-color: var(--purple);
    color: var(--white);
    font-size: 2.5em;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0px;
}


/* --------- CONTACT SECTION ---------- */

main section.contact-section {
    background-color: var(--purplewhite);
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 40px 100px; 
}

.contact-section h2 {
    font-family: timberline, sans-serif;   
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 15px;
    color: var(--purple);
    text-shadow: 2px 2px 16px var(--white);
}

.contact-section p {
    font-size: 2em;
    margin-bottom: 50px;
    text-align: center;
}

.contact-section .email-btn {
    text-decoration: none;
    background-color: var(--purple);
    color: var(--white);
    font-family: charbroiled, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    margin: 30px;
    padding: 15px;
    text-shadow: 2px 2px 16px var(--black);
    opacity: 0.8;
}

.contact-section .email-btn:hover {
    opacity: 1;
}

.contact-section .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-section .flex-item {
    flex: 0 0 50%;
    justify-content: center;  
}

.badge-base {
    padding-left: 35%;
    padding-bottom: 10%;
}

/* ---------- FOOTER ---------- */

footer p {
    color: var(--white);
}

.top {
    color: var(--white);
    font-family: timberline, sans-serif;   
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.top:link {
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 2px 16px var(--black);
}

.top:visited {
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 2px 16px var(--black);
}

.top:hover {
    text-decoration: none;
    color: var(--purple);
    text-shadow: 2px 2px 16px var(--black);
}

.top:active {
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 2px 16px var(--white);
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 1480px) {
    header p {
            top: 650px;
            left: 500px;
            font-size: 3em;
        }
}
@media screen and (max-width: 1399px) {
    .contact-section .flex-container {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .name-title {
        top: 20px;
        left: 20px;
    }
}

@media screen and (max-width: 1150px) {
    .name-title {
        font-size: 2em;
    }

    header p {
        top: 650px;
        left: 250px;
    }

    article.work-section p {
    background-color: var(--purple);
    color: var(--white);
    font-size: 1.5em;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 0px;
    }
}

@media screen and (max-width: 1100px) {
    .about-section p {
        font-size: 1.5em;
    }
    
    .contact-section p {
        font-size: 1.5em;
    }
    
    .contact-section .email-btn { 
        font-size: 1.5em;
        text-align: center;
    }

    .top {
        font-size: 2.5em;
    }

    .badge-base {
        padding-left: 25%;
        padding-bottom: 10%;
    }
}

@media screen and (max-width: 950px) {
    
    nav a:link {
        font-size: 1.7em;
    }
    
    nav a:visited {
        font-size: 1.7em;
    }

    .profile-image {
        height: 350px;
    }

    header p {
        top: 400px;
        left: 250px;
    }
    
    .contact-section .flex-container {
        display: inline;  
    }

    .badge-base {
        padding: unset;
        margin: 50px auto;
    }

    .contact-section p {
        font-size: 1em;
    }
    
    .work-section .flex-item {
        flex: 1 0 100%;
        margin: 20px;
    }
        
    .work-section .flex-item.project-1 {
        flex: 1 0 100%; 
    }

}

@media screen and (max-width: 875px) {
    .name-title {
        font-size: 1.5em;
        top: 360px;
        left: 100px;
    }

    header p {
        font-size: 2.3em;
        top: 410px;
        left: 160px;
    }
}

@media screen and (max-width: 680px) {
    .name-title {
        font-size: 1.5em;
        top: 360px;
        left: 50px;
    }

    header p {
        font-size: 2.3em;
        top: 410px;
        left: 80px;
    }

}

@media screen and (max-width: 530px) {
    header {
        height: 60px;
    }
    
    nav {
        font-size: 1em;
    }

    nav ul li {
        margin: 5px;
        padding: 5px;
    }

    header p {
        top: 300px;
        left: 50px;
    } 
    
    main article.work-section {
        padding: 40px 50px; 
    }

    main section.contact-section {
        padding: 40px 50px; 
    }

    .name-title {
        top:250px;
        left: 30px;
    }

    .about-section h2, .work-section h2 {
        font-size: 2em;
    }

    .about-section p, .work-section p {
        font-size: 1.2em;
    }

    .contact-section .email-btn {
        font-size: 1.5em;
    }

    .badge-base {
        padding: unset;
        margin: 35px auto;
    }
}